<a href="https://colab.research.google.com/github/irfan7210/Python_practice/blob/main/ALMAX_Coding_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week-1 Day1**

**SQL**

A salesperson is a person whose job is to sell products or services. From the following dataframe, write a SQL query to find the top 10 salesperson that have made highest sale. Return their names and total sale amount.

Table-I: sales

Table-II: salesman

In [ ]:
-- Write your query here
select s1.SALESMAN_NAME, sum(s2.sale_amount) as total_sale  from salesman s1 left join sales s2 on s1.SALESMAN_ID = s2.SALESMAN_ID
group by SALESMAN_NAME order by total_sale DESC limit 10 ;

Information of Salesperson
Easy
From the following dataframes, write a SQL query to find the information on each salesperson of ABC Company. Return name, city, country and state of each salesperson.

Table-I: salespersons

Table-II: address

Expected Output:

In [ ]:
-- Write your query here
select t1.first_name, t1.last_name, COALESCE(t2.city, 'None') as city, COALESCE(t2.state, 'None') as state
from salespersons t1  left join address t2 on t1.salesperson_id = t2.salesperson_id;

Find customers
Easy
From the following Dataframes, write a SQL query to find those customers who never ordered anything. Return customer name.

Table-I: customers

Table-II: orders

Expected Output:

In [ ]:
-- Write your query here
select 	c.customer_name as customers from customers c left join orders o on c.customer_id= o.customer_id
where order_id is null;

High pollution
Easy
From the following dataframe, write a SQL query to find all dates' city ID with higher pollution compared to its previous dates (yesterday). Return city ID, date and pollution.

Table: so2_pollution

Expected Output:

In [ ]:
-- Write your query here
SELECT p2.city_id as 'City ID' FROM so2_pollution p2, so2_pollution p1
WHERE p2.so2_amt > p1.so2_amt
AND JULIANDAY(p2.date) - JULIANDAY(p1.date) = 1

Duplicate emails
Easy
From the following dataframe, write a SQL query to find all the duplicate emails of employees keeping the unique email with the greater employee id. Return employee id and duplicate emails.

Table: employees

In [ ]:
-- Write your query here
select max(employee_id), employee_name, email_id from employees group by email_id having count(email_id) >1;

**PYTHON**

String Palindrome
Easy
Write a Python program to check whether a String is Palindrome or not?

Example 1:
Input:
madam

Output:
String is a Palindrome

Example 2:
Input:
abcdxyz

Output:
String is not a Palindrome

Example 3:
Input:
radar

Output:
String is a Palindrome

In [ ]:
string = input()
reverse = string[::-1]

if reverse == string:
    print("String is a Palindrome")
else:
    print("String is not a Palindrome")

Find last position of substring
Easy
Write a python program to find the last position of a given substring.

Example 1:
Input:
Emma is a data scientist who knows Python. Emma works at google.

Emma

Output:
Last occurrence of Emma starts at index 43

Example 2:
Input:
Practice and practice until you fail

until

Output:
Last occurrence of until starts at index 22

In [ ]:
str1 =str(input())
substr=input()
st= str(substr)
x=str1.rfind(st)
print(f"Last occurrence of {st} starts at index {x}")

Remove char. from string
Easy
Write a python program to remove a given character from string.

Example 1:
Input:
AlmaBetter

t

Output:
almabe er

In [ ]:

str = input()
ch = input()
z=str.lower()
f=ch.lower()
x=z.replace(f, " ")
print(x)

Perfect Number
Easy
Write a python program to check a given number is perfect or not.

Note: A perfect number is a positive integer that is equal to the sum of its positive divisors, excluding the number itself.

Lets understand it with example

6 is a positive number and its divisor is 1,2,3 and 6 itself.

But we should not include 6 as by the definition of perfect number.

Lets add its divisor excluding itself

1+2+3 = 6 which is equal to number itself.

It means 6 is a Perfect Number.

Example 1:
Input:
28

Output:
It is Perfect Number

Example 2:
Input:
1256488

Output:
It is not Perfect Number

Example 3:
Input:
88

Output:
It is not Perfect Number

In [ ]:
num = int(input())
result=0
for i in range(1, num):
    if num%i == 0:
        result = result+i
if result == num:
    print("It is Perfect Number")
else:
    print("It is not Perfect Number")

Swap two numbers
Easy
Write a Python program to swap two number without using third variable.

Example 1:
Input:
a=9

b=2

Output:
value of a is : 9

value of b is : 2

After swapping

value of a is : 2

value of b is : 9

Example 2:
Input:
a=10

b=01

Output:
value of a is : 10

value of b is : 01

After swapping

value of a is : 01

value of b is : 10

In [ ]:
a=int(input())
b=int(input())
print("value of a is :",a)
print("value of b is :",b)

a ,b = b,a

print("After swapping")

print("value of a is :",a)
print("value of b is :",b)


**Coding Practice: Week 1 - Day 4**

Find even or odd values
Easy
From the following dataframe, write a SQL query to find the even or odd values. Return "Even" for even number and "Odd" for odd number.

Table: tablefortest

In [ ]:
-- Write your query here
SELECT srno, col_val,
    CASE
        WHEN col_val % 2 = 0 THEN 'Even'
        WHEN col_val % 2 != 0 THEN 'Odd'
    END AS Even_Odd
FROM tablefortest;

Overall rate
Easy
From the following dataframe, write a SQL query to find the overall rate of execution of orders, which is the number of orders execution divided by the number of orders quote. Return rate_of_execution rounded to 2 decimals places.

Table- I: orders_issued

Table-II: orders_executed

Expected Output:

In [ ]:
SELECT
    ROUND(
        (SELECT COUNT(*) FROM (SELECT DISTINCT orders_from, executed_from FROM orders_executed) AS A)
        /
        (SELECT COUNT(*) FROM (SELECT DISTINCT distributor_id, company_id FROM orders_issued) AS B),
        2
    ) AS rate_of_execution;

No order
Easy
From the following dataframes find those customers who did not make any order to the supplier 'DCX LTD'.

Table- I: customers

Table- II: supplier

Table- III: orders

Expected Output:

In [ ]:
-- Write your query here
SELECT c.customer_name
FROM customers c
WHERE c.customer_id
NOT IN (SELECT o.customer_id
FROM orders o
LEFT JOIN supplier s
ON o.supplier_id = s.supplier_id
WHERE s.supplier_name = 'DCX LTD');

Best Seller
Easy
From the following dataframes, write an SQL query to find the best seller by total sales price. Return distributor ID , If there is a tie, report them all.

Table-I: item

Table-II: sales_info

Expected Output:

In [ ]:
-- Write your query here
select s.distributor_id
from sales_info s
group by s.distributor_id
having sum(s.total_cost) = (select max(cost) from (
    select sum(s.total_cost) as cost from sales_info s group by s.distributor_id
) as sub);

Find retailers
Easy
From the above dataframes, write a SQL query to find those retailers who have bought 'key board' but not 'mouse'. Return retailer ID.

Table-I: item

Table-II: sales_info

Expected Output:

In [ ]:
SELECT DISTINCT retailer_id
FROM sales_info
WHERE item_code IN (
  SELECT item_code FROM item WHERE item_desc = 'key board'
)
AND retailer_id NOT IN (
  SELECT retailer_id
  FROM sales_info
  WHERE item_code IN (
    SELECT item_code FROM item WHERE item_desc = 'mouse'
  )
)
ORDER BY retailer_id;

Left triangle alphabet pattern-1
Easy
Write a program in python to print the following pattern for the given N number of rows.

The left alphabet triangle pattern is a triangle pattern that is made of alphabets and has perpendicular on its left side.

Example 1:
Input:
3

Output:

A
BB
CCC

In [ ]:

n = int(input())

for i in range (1, n+1):
    # inner loop
    for j in range(1,i+1):
        print(chr(65+i-1),end="")
    print()

Left triangle number pattern-2
Easy
Write a program in python to print the following pattern for the given N number of rows.

The left number triangle pattern is a triangle pattern that is made of numbers and has perpendicular on its left side.

Example 1:
Input:
4

Output:

1
11
202
3003

In [ ]:
n = int(input())
for i in range(1, n + 1):
    row = ""
    for j in range(i):
        if j == 0 or j == i - 1:
            row += str(i - 1)
        else:
            row += "0"
    print(row)

Square alphabet pattern-2
Medium
Write a program in python to print the following pattern for the given N number of rows.

The square alphabet pattern is the easiest pattern program. It is a pattern that has the shape of a square made of alphabets. Since it is a square, it is very easy to create and print.

Example 1:
Input:
4

Output:

ABCD
BCDE
CDEF
DEFG

In [ ]:
#Please ensure platform IDE is in Python 3.x mode.
#If you face any issue here, you may write the code on colab or jupyter.
#Then, paste the code snippet here and run test cases.

n = int(input())

for i in range(0, n):
    for j in range(i, i + n):
        print(chr(65 + j), end="")
    print()

Left downward triangle number pattern-2
Medium
Write a program in python to print the following pattern for the given N number of rows.

The left downward triangle pattern is the pattern of a triangle upside down. It is also sometimes known as inverted number pattern.

Example 1:
Input:
4

Output:

4444
333
22
1

In [ ]:
n=int(input())
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(i, end="")
    print()

Right triangle number pattern-2
Hard
Write a program in python to print the following pattern for the given N number of rows.

Example 1:
Input:
4

Output:

      1
    21
  321
4321

In [ ]:
n = int(input())
for i in range(1, n+1):
    for j in range(n-i):
        print(" ", end=" ")
    for k in range(i, 0, -1):
        print(k, end="")
    print()

# **Raw practice**

In [ ]:
# Python program for the above approach

# Function to find insert position of K
def find_index(arr, n, K):

	# Traverse the array
	for i in range(n):

		# If K is found
		if arr[i] == K:
			return i

		# If arr[i] exceeds K
		elif arr[i] > K:
			return i

	# If all array elements are smaller
	return n

# Driver Code
arr = [1, 3, 5, 6]
n = len(arr)
K = 2
print(find_index(arr, n, K))

In [ ]:
nums=eval(input())
lists={}
def singleNumber(nums):
    for i in nums:
        if i in list:
            lists[i] +=1
        else:
            lists[i] = 1
    for lists, i in lists.item():
      if lists == 1:
        return i

single_num = singleNumber(lists)
print("Single number:", i)

In [ ]:
nums = eval(input("Enter the array of integers: "))

def singleNumber(nums):
    counts = {}
    for num in nums:
        if num in counts:
            counts[num] += 1
        else:
            counts[num] = 1

    for num, count in counts.items():
        if count == 1:
            return num

single_num = singleNumber(nums)
print("Single number:", single_num)