<a href="https://colab.research.google.com/github/irfan7210/Python_practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **In Python, create a program that generates a Fibonacci sequence.**

In [ ]:
def fibonacci_seq(n):
  sequence = []
  a, b = 0,1
  while len(sequence) < n:
    sequence.append(a)
    a,b = b, a+b
  return sequence

In [ ]:
fibonacci_seq(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [1]:
def fibonacci_recursive(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci_recursive(n - 1) + fibonacci_recursive(n - 2)

# Example usage:
n = 10  # Change this to the Fibonacci number you want to compute
fib_number = fibonacci_recursive(n)
print(f"Fibonacci number at position {n}: {fib_number}")

Fibonacci number at position 10: 55

In [2]:
def fibonacci_series_recursive(n):
    series = []
    for i in range(n):
        series.append(fibonacci_recursive(i))
    return series

def fibonacci_recursive(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci_recursive(n - 1) + fibonacci_recursive(n - 2)

# Example usage:
n = 10  # Change this to the number of Fibonacci numbers you want to generate
fib_series = fibonacci_series_recursive(n)
print(f"Fibonacci series up to position {n}: {fib_series}")

Fibonacci series up to position 10: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# **Make a Python script that checks if a given number is prime.**

In [ ]:
n = int(input())
if n < 2:
    print(False)
else:
    for i in range(2, n):
        if n % i == 0:
            print(False)
            break
    else:
        print(True)

10
False

# **Create a Python program that checks if a given sequence is a Palindrome.**

In [ ]:
num = int(input())
str_num = str(num)
reverse = str_num[::-1]
if str_num == reverse:
  print("YES")
else:
  print("FALSE")

122
FALSE

## Someimp

**In a NumPy array, how do I extract the indices of N maximum values?**

In [ ]:
import numpy
array = numpy.array([4, 8, 4, 9, 2])
print(array.argsort()[-2:][::-1])


**Using Python/ NumPy, write code to compute percentiles?**

In [ ]:
import numpy
array = numpy.array([3, 6, 1, 6, 5, 2])
percentile = numpy.percentile(array, 45) #Returns 45th percentile
print(percentile)

# **Write a Python program to determine whether a number is binary.**

In [ ]:
num = int(input())
if set(str(num)) <= {'0', '1'}:
  print("IS_Binary")
else:
  print("not_Binary")

101010
IS_Binary

In [ ]:
num = int(input("Enter a number: "))
while num > 0:
    x = num % 10
    if x != 0 and x != 1:
        print("NOT A BINARY")
        break
    num = num // 10
else:
    print("BINARY")

101010
BINARY

# **calculate factorial in Python.**

Using the Iterative technique,

In [ ]:
def fact_num(n):
    if n < 0:
        print("Factorial can't be calculated for negative numbers")
    elif n == 0:
        print("Factorial of 0 is 1")
    else:
        fact = 1  # initialize the factorial variable to 1
        for i in range(1, n + 1):
            fact *= i  # update the factorial variable with the product of the previous value and the current index
        print(f"Factorial of {n} is {fact}")

In [ ]:
fact_num(5)

Factorial of 5 is 120

# **Compute the LCM of two given numbers using Python code.**

In [ ]:
print("enter the numbers")
a = int(input())
b = int(input())
for i in range(1, a*b + 1):
  if i%a==0 and i%b==0:
    print("LCM of number is: ", i)
    break

enter the numbers
4
3
LCM of number is:  12

# **Write a Python program that removes vowels from a string.**

In [ ]:
def remove_vowels(s):
    vowels = "aeiouAEIOU"
    result = ""
    # Iterate over each character in the input string
    for char in s:
        # If the character is not a vowel, append it to the result string
        if char not in vowels:
            result += char
    # Return the result string with all vowels removed
    return result

In [ ]:
remove_vowels("FighTER")

'FghTR'

# **Write a Python code to reverse a given list.**

In [ ]:
print("enter the number")
number = int(input())
string = str(number)
reversed_str = string[::-1]
print(reversed_str)

enter the number
12345
54321

# **Write a Python program that rotates an array by two positions to the right.**

In [ ]:
print("enter the number")
number = int(input())
string = str(number)
rotated_str = string[::]
print(reversed_str)

enter the number
543256
54321

# **You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa.**

In [ ]:
def swap_str(string):
  swapped_string = ""
  for char in string:
    if char.islower():
      swapped_string += char.upper()
    elif char.isupper():
      swapped_string += char.lower()
    else:
      swapped_string += char
  return swapped_string

In [ ]:
string = "Www.HackerRank.com"
swapped_string = swap_str(string)
print(swapped_string)   # wWW.hACKERrANK.COM

string = "Pythonist 2"
swapped_string = swap_str(string)
print(swapped_string)   # pYTHONIST 2

wWW.hACKERrANK.COM
pYTHONIST 2

# **You are given a string. Split the string on a " " (space) delimiter and join using a - hyphen.**

In [ ]:
def string_spl(string):
    words = string.split()
    return "-".join(words)

In [ ]:
string_spl("my name is mon")

'my-name-is-mon'

In [ ]:
import math
from sympy import isprime
def printGreeting():
    print("Hello World!")

In [ ]:
def printZ():
    print("*****")
    print("   *")
    print("  *")
    print(" *")
    print("*****")

In [ ]:
n = int(input("Enter the number of rows: "))

for i in range(1, n+1):
    for j in range(i):
        print(chr(65 + i - 1), end=" ")
    print()

Enter the number of rows: 3
A
B B
C C C

In [ ]:
n = int(input())

for i in range (1, n+1):
    # inner loop
    for j in range(1,i+1):
        print(chr(65+i-1),end="")
    print()

3
A
BB
CCC

In [ ]:
n=int(input())
for i in range(1,n+1):
    for j in range(0, i+1):
        if j==0 or j==i-1:
            print(i, end=" ")
        else:
            print("0", end=" ")
    print()

4
1 0
2 2 0
3 0 3 0
4 0 0 4 0

In [ ]:
n = int(input("Enter the number of rows: "))

for i in range(1, n+1):
    for j in range(i, i + n):
        print(chr(65 + j-1), end="")
    print()

Enter the number of rows: 4
ABCD
BCDE
CDEF
DEFG

In [ ]:
n = int(input("Enter the number of rows: "))

row = ''
for i in range(n):
    row += chr(65 + i)  # Append the current alphabet to the row
    print(row)

Enter the number of rows: 4
A
AB
ABC
ABCD

In [ ]:
n = int(input("Enter the number of rows: "))

current_alphabet = 65  # ASCII value for 'A'
for i in range(n):
    row = ''
    for j in range(i+1):
        row += chr(current_alphabet)
        current_alphabet += 1
    print(row)

Enter the number of rows: 4
A
BC
DEF
GHIJ

In [ ]:
n = int(input("Enter the number of rows: "))

current_alphabet = 65  # ASCII value for 'A'
for i in range(n):
    row = ''
    for j in range(i+1):
        row += chr(current_alphabet)
        current_alphabet += 1
    print(row)

Enter the number of rows: 4
A
BC
DEF
GHIJ

In [ ]:
n = int(input())
for i in range(i, n+1):
    for j in range(1, n-1):
        print(" ", end =" ")
        for k in range(1,i+1):
            print(+i, end=" ")
    print()

4
  4 4 4 4   4 4 4 4

In [ ]:
import numpy as np

# Create a list of the first ten prime numbers
prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

# Sort the list in ascending order
sorted_numbers = np.sort(prime_numbers)

# Calculate the first quartile (Q1) and third quartile (Q3)
Q1 = np.percentile(sorted_numbers, 25)
Q3 = np.percentile(sorted_numbers, 75)

# Compute the interquartile range (IQR)
IQR = Q3 - Q1

# Determine the lower outlier threshold and upper outlier threshold
lower_threshold = Q1 - 1.5 * IQR
upper_threshold = Q3 + 1.5 * IQR

# Print the results
print("Interquartile Range (IQR):", IQR)
print("Lower Outlier Threshold:", lower_threshold)
print("Upper Outlier Threshold:", upper_threshold)
print(Q1,Q3)

Interquartile Range (IQR): 13.0
Lower Outlier Threshold: -14.0
Upper Outlier Threshold: 38.0
5.5 18.5

In [ ]:
from itertools import count
# Import the numpy library as np
import numpy as np

data = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
n = len(data) / 2
# First quartile (Q1)
Q1 = np.median(data[:n])

# Third quartile (Q3)
Q3 = np.median(data[n:])

# Interquartile range (IQR)
IQR = Q3 - Q1

print(IQR)

TypeError: ignored

In [ ]:
import numpy as np

data = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
n = len(data) // 2

Q1 = np.median(data[:n])

Q3 = np.median(data[n:])

#(IQR)
IQR = Q3 - Q1


lower_threshold = Q1 - 1.5 * IQR
upper_threshold = Q3 + 1.5 * IQR


print(IQR)
print("Lower Outlier Threshold:", lower_threshold)
print("Upper Outlier Threshold:", upper_threshold)
print(Q1,Q3)

14.0
Lower Outlier Threshold: -16.0
Upper Outlier Threshold: 40.0
5.0 19.0

In [ ]:
data = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

# Find the length or count of the list
length = len(data) / 2

# Print the length or count
print("Length of the list:", length)

Length of the list: 5.0

In [ ]:
n = int(input())
for i in range(n, 0,-1):

    for j in range(1,i+1):
        if i%2 !=0:
            print("1", end = "")
        else:
            print("0",  end = "")
    print()

5
11111
0000
111
00
1

In [ ]:
n = int(input())
for i in range(n, 0, -1):
    for j in range(1,i+1):
        print(j,end=" ")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#Please ensure the platform IDE is in Python 3.x mode.
#If you face any issue here, you may write the code on colab/jupyter.
#Then, paste the code snippet here and run test cases.

nums = eval(input())

def singleNumber(nums):
    counts = {}
    for num in nums:
        if num in counts:
            counts[num] += 1
        else:
            counts[num] = 1

    for num, count in counts.items():
        if count == 1:
            return num

single_num = singleNumber(nums)
print(single_num)